--
-- PostgreSQL database dump
--

\restrict IWYsPl63jganOHsdr23t7IjPD92LhK4qi74IKKKOgMJUGteHcgFp4JT97E8BkuM

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ud_boolean; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_boolean AS boolean;


ALTER DOMAIN public.ud_boolean OWNER TO postgres;

--
-- Name: ud_char01; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_char01 AS character(1);


ALTER DOMAIN public.ud_char01 OWNER TO postgres;

--
-- Name: ud_char05; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_char05 AS character(5);


ALTER DOMAIN public.ud_char05 OWNER TO postgres;

--
-- Name: ud_char10; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_char10 AS character varying(10);


ALTER DOMAIN public.ud_char10 OWNER TO postgres;

--
-- Name: ud_char1024; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_char1024 AS character varying(1024);


ALTER DOMAIN public.ud_char1024 OWNER TO postgres;

--
-- Name: ud_char12; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_char12 AS character varying(12);


ALTER DOMAIN public.ud_char12 OWNER TO postgres;

--
-- Name: ud_char128; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_char128 AS character varying(128);


ALTER DOMAIN public.ud_char128 OWNER TO postgres;

--
-- Name: ud_char15; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_char15 AS character varying(15);


ALTER DOMAIN public.ud_char15 OWNER TO postgres;

--
-- Name: ud_char25; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_char25 AS character varying(25);


ALTER DOMAIN public.ud_char25 OWNER TO postgres;

--
-- Name: ud_char50; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_char50 AS character varying(50);


ALTER DOMAIN public.ud_char50 OWNER TO postgres;

--
-- Name: ud_dia_chi; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_dia_chi AS character varying(256);


ALTER DOMAIN public.ud_dia_chi OWNER TO postgres;

--
-- Name: ud_dvt; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_dvt AS character varying(20);


ALTER DOMAIN public.ud_dvt OWNER TO postgres;

--
-- Name: ud_float; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_float AS numeric(38,20);


ALTER DOMAIN public.ud_float OWNER TO postgres;

--
-- Name: ud_int; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_int AS integer;


ALTER DOMAIN public.ud_int OWNER TO postgres;

--
-- Name: ud_internal_id; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_internal_id AS character varying(25);


ALTER DOMAIN public.ud_internal_id OWNER TO postgres;

--
-- Name: ud_ma; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_ma AS character varying(35);


ALTER DOMAIN public.ud_ma OWNER TO postgres;

--
-- Name: ud_ma_ct; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_ma_ct AS character(3);


ALTER DOMAIN public.ud_ma_ct OWNER TO postgres;

--
-- Name: ud_ma_nt; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_ma_nt AS character(3);


ALTER DOMAIN public.ud_ma_nt OWNER TO postgres;

--
-- Name: ud_ma_tk; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_ma_tk AS character varying(20);


ALTER DOMAIN public.ud_ma_tk OWNER TO postgres;

--
-- Name: ud_memo; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_memo AS text;


ALTER DOMAIN public.ud_memo OWNER TO postgres;

--
-- Name: ud_ngay; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_ngay AS timestamp with time zone;


ALTER DOMAIN public.ud_ngay OWNER TO postgres;

--
-- Name: ud_rowid; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_rowid AS bigint;


ALTER DOMAIN public.ud_rowid OWNER TO postgres;

--
-- Name: ud_smallint; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_smallint AS smallint;


ALTER DOMAIN public.ud_smallint OWNER TO postgres;

--
-- Name: ud_so_ct; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_so_ct AS character varying(25);


ALTER DOMAIN public.ud_so_ct OWNER TO postgres;

--
-- Name: ud_so_seri; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_so_seri AS character varying(30);


ALTER DOMAIN public.ud_so_seri OWNER TO postgres;

--
-- Name: ud_state; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_state AS character varying(50);


ALTER DOMAIN public.ud_state OWNER TO postgres;

--
-- Name: ud_status; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_status AS character varying(2);


ALTER DOMAIN public.ud_status OWNER TO postgres;

--
-- Name: ud_stt_rec; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_stt_rec AS character(20);


ALTER DOMAIN public.ud_stt_rec OWNER TO postgres;

--
-- Name: ud_ten; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_ten AS character varying(256);


ALTER DOMAIN public.ud_ten OWNER TO postgres;

--
-- Name: ud_time; Type: DOMAIN; Schema: public; Owner: postgres
--

CREATE DOMAIN public.ud_time AS time without time zone;


ALTER DOMAIN public.ud_time OWNER TO postgres;

--
-- Name: get_next_issue_id(text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_next_issue_id(_prefix text) RETURNS text
    LANGUAGE plpgsql
    AS $$
DECLARE
    _max_num int;
    _new_num text;
BEGIN
    -- Lß║Ñy sß╗æ lß╗¢n nhß║Ñt cß╗ºa 3 sß╗æ cuß╗æi
    SELECT COALESCE(MAX(RIGHT(issue_id, 3)::int), 0)
    INTO _max_num
    FROM public.issues
    WHERE issue_id LIKE _prefix || '%';

    -- +1 v├á format lß║íi th├ánh 3 sß╗æ (001, 002,...)
    _new_num := LPAD((_max_num + 1)::text, 3, '0');

    -- Gh├⌐p prefix + sß╗æ mß╗¢i
    RETURN _prefix || _new_num;
END;
$$;


ALTER FUNCTION public.get_next_issue_id(_prefix text) OWNER TO postgres;

--
-- Name: get_next_sprint_id(text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_next_sprint_id(_prefix text) RETURNS text
    LANGUAGE plpgsql
    AS $$
DECLARE
    _max_num int;
    _new_num text;
BEGIN
    -- Lß║Ñy sß╗æ lß╗¢n nhß║Ñt cß╗ºa 3 sß╗æ cuß╗æi
    SELECT COALESCE(MAX(RIGHT(sprint_id, 3)::int), 0)
    INTO _max_num
    FROM public.sprints
    WHERE sprint_id LIKE _prefix || '%';

    -- +1 v├á format lß║íi th├ánh 3 sß╗æ (001, 002,...)
    _new_num := LPAD((_max_num + 1)::text, 3, '0');

    -- Gh├⌐p prefix + sß╗æ mß╗¢i
    RETURN _prefix || _new_num;
END;
$$;


ALTER FUNCTION public.get_next_sprint_id(_prefix text) OWNER TO postgres;

--
-- Name: get_next_user_id(text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_next_user_id(_prefix text) RETURNS text
    LANGUAGE plpgsql
    AS $$
DECLARE
    _max_num int;
    _new_num text;
BEGIN
    -- Lß║Ñy sß╗æ lß╗¢n nhß║Ñt cß╗ºa 3 sß╗æ cuß╗æi
    SELECT COALESCE(MAX(RIGHT(user_id, 3)::int), 0)
    INTO _max_num
    FROM public.users
    WHERE user_id LIKE _prefix || '%';

    -- +1 v├á format lß║íi th├ánh 3 sß╗æ (001, 002,...)
    _new_num := LPAD((_max_num + 1)::text, 3, '0');

    -- Gh├⌐p prefix + sß╗æ mß╗¢i
    RETURN _prefix || _new_num;
END;
$$;


ALTER FUNCTION public.get_next_user_id(_prefix text) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: analyst_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analyst_log (
    log_id integer NOT NULL,
    log_content json,
    log_date public.ud_ngay
);


ALTER TABLE public.analyst_log OWNER TO postgres;

--
-- Name: analyst_log_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.analyst_log_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.analyst_log_log_id_seq OWNER TO postgres;

--
-- Name: analyst_log_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.analyst_log_log_id_seq OWNED BY public.analyst_log.log_id;


--
-- Name: filters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.filters (
    filter_id public.ud_ma,
    type public.ud_ma DEFAULT 'custom'::character varying,
    strsql text
);


ALTER TABLE public.filters OWNER TO postgres;

--
-- Name: issue_attachments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issue_attachments (
    issue_attachment_id integer NOT NULL,
    issue_id public.ud_ma,
    user_id public.ud_ma,
    file_name public.ud_ten,
    file_path public.ud_ten,
    status public.ud_boolean,
    created_at public.ud_ngay,
    created_by public.ud_ma,
    update_at public.ud_ngay,
    update_by public.ud_ma
);


ALTER TABLE public.issue_attachments OWNER TO postgres;

--
-- Name: issue_attachments_issue_attachment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.issue_attachments_issue_attachment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issue_attachments_issue_attachment_id_seq OWNER TO postgres;

--
-- Name: issue_attachments_issue_attachment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.issue_attachments_issue_attachment_id_seq OWNED BY public.issue_attachments.issue_attachment_id;


--
-- Name: issue_change_histories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issue_change_histories (
    issue_history_id integer NOT NULL,
    issue_id public.ud_ma,
    user_id public.ud_ma,
    old_value json,
    new_value json,
    status public.ud_boolean,
    created_at public.ud_ngay,
    created_by public.ud_ma
);


ALTER TABLE public.issue_change_histories OWNER TO postgres;

--
-- Name: issue_change_histories_issue_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.issue_change_histories_issue_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issue_change_histories_issue_history_id_seq OWNER TO postgres;

--
-- Name: issue_change_histories_issue_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.issue_change_histories_issue_history_id_seq OWNED BY public.issue_change_histories.issue_history_id;


--
-- Name: issue_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issue_comments (
    issue_comment_id integer NOT NULL,
    content text,
    issue_id public.ud_ma,
    user_id public.ud_ma,
    status public.ud_boolean,
    created_at public.ud_ngay,
    created_by public.ud_ma,
    update_at public.ud_ngay,
    update_by public.ud_ma
);


ALTER TABLE public.issue_comments OWNER TO postgres;

--
-- Name: issue_comments_issue_comment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.issue_comments_issue_comment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.issue_comments_issue_comment_id_seq OWNER TO postgres;

--
-- Name: issue_comments_issue_comment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.issue_comments_issue_comment_id_seq OWNED BY public.issue_comments.issue_comment_id;


--
-- Name: issue_priorities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issue_priorities (
    issue_priority_id public.ud_ma NOT NULL,
    issue_priority_name public.ud_ten,
    status public.ud_boolean,
    created_at public.ud_ngay,
    created_by public.ud_ma,
    update_at public.ud_ngay,
    update_by public.ud_ma
);


ALTER TABLE public.issue_priorities OWNER TO postgres;

--
-- Name: issue_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issue_types (
    issue_type_id public.ud_ma NOT NULL,
    issue_type_name public.ud_ten,
    status public.ud_boolean,
    created_at public.ud_ngay,
    created_by public.ud_ma,
    update_at public.ud_ngay,
    update_by public.ud_ma
);


ALTER TABLE public.issue_types OWNER TO postgres;

--
-- Name: issues; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issues (
    issue_id public.ud_ma NOT NULL,
    issue_name public.ud_ten,
    issue_status public.ud_ma,
    project_id public.ud_ma NOT NULL,
    issue_type public.ud_ma,
    issue_priority_id public.ud_ma,
    description text,
    issue_attachment_id text,
    list_issues text,
    sprint_id public.ud_ma,
    epic_id public.ud_ma,
    issue_dev_rate public.ud_smallint,
    estimate_dev public.ud_smallint,
    estimate_reopen_dev public.ud_smallint,
    issue_test_rate public.ud_smallint,
    estimate_test public.ud_smallint,
    estimate_reopen_test public.ud_smallint,
    reporter_id public.ud_ma,
    assignee_id public.ud_ma,
    developer_id public.ud_ma,
    tester_id public.ud_ma,
    ba_id public.ud_ma,
    cus_request_date public.ud_ngay,
    pm_request_date public.ud_ngay,
    deadline_dev public.ud_ngay,
    deadline_test public.ud_ngay,
    status public.ud_boolean,
    created_at public.ud_ngay,
    created_by public.ud_ma,
    update_at public.ud_ngay,
    update_by public.ud_ma
);


ALTER TABLE public.issues OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--




ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    project_id public.ud_ma NOT NULL,
    project_name public.ud_ten,
    description text,
    pm_id public.ud_ma,
    start_date public.ud_ngay,
    end_date public.ud_ngay,
    status public.ud_boolean,
    created_at public.ud_ngay,
    created_by public.ud_ma,
    update_at public.ud_ngay,
    update_by public.ud_ma
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    role_id public.ud_ma NOT NULL,
    role_name public.ud_ten,
    module_accept text,
    status public.ud_boolean,
    created_at public.ud_ngay,
    created_by public.ud_ma,
    update_at public.ud_ngay,
    update_by public.ud_ma
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: sprints; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sprints (
    sprint_id public.ud_ma NOT NULL,
    project_id public.ud_ma NOT NULL,
    sprint_name public.ud_ten,
    start_date public.ud_ngay,
    end_date public.ud_ngay,
    status public.ud_boolean,
    created_at public.ud_ngay,
    created_by public.ud_ma,
    update_at public.ud_ngay,
    update_by public.ud_ma
);


ALTER TABLE public.sprints OWNER TO postgres;

--
-- Name: user_project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_project (
    user_id public.ud_ma NOT NULL,
    project_id public.ud_ma NOT NULL,
    update_at public.ud_ngay
);


ALTER TABLE public.user_project OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id public.ud_ma NOT NULL,
    username public.ud_ma,
    password public.ud_ten,
    email public.ud_ten,
    fullname public.ud_ten,
    status public.ud_boolean,
    created_at public.ud_ngay,
    created_by public.ud_ma,
    update_at public.ud_ngay,
    update_by public.ud_ma,
    admin_yn public.ud_boolean,
    pm_yn public.ud_boolean
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: workflow_step; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_step (
    step_id public.ud_ma NOT NULL,
    step_name public.ud_ten,
    step public.ud_smallint,
    status public.ud_boolean,
    created_at public.ud_ngay,
    created_by public.ud_ma,
    update_at public.ud_ngay,
    update_by public.ud_ma,
    pre_step_id public.ud_ma,
    next_step_id public.ud_ma
);


ALTER TABLE public.workflow_step OWNER TO postgres;

--
-- Name: analyst_log log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analyst_log ALTER COLUMN log_id SET DEFAULT nextval('public.analyst_log_log_id_seq'::regclass);


--
-- Name: issue_attachments issue_attachment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_attachments ALTER COLUMN issue_attachment_id SET DEFAULT nextval('public.issue_attachments_issue_attachment_id_seq'::regclass);


--
-- Name: issue_change_histories issue_history_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_change_histories ALTER COLUMN issue_history_id SET DEFAULT nextval('public.issue_change_histories_issue_history_id_seq'::regclass);


--
-- Name: issue_comments issue_comment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_comments ALTER COLUMN issue_comment_id SET DEFAULT nextval('public.issue_comments_issue_comment_id_seq'::regclass);


--
-- Name: issue_attachments issue_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_attachments
    ADD CONSTRAINT issue_attachments_pkey PRIMARY KEY (issue_attachment_id);


--
-- Name: issue_change_histories issue_change_histories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_change_histories
    ADD CONSTRAINT issue_change_histories_pkey PRIMARY KEY (issue_history_id);


--
-- Name: issue_comments issue_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_comments
    ADD CONSTRAINT issue_comments_pkey PRIMARY KEY (issue_comment_id);


--
-- Name: issue_priorities issue_priority_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_priorities
    ADD CONSTRAINT issue_priority_pkey PRIMARY KEY (issue_priority_id);


--
-- Name: issue_types issue_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issue_types
    ADD CONSTRAINT issue_type_pkey PRIMARY KEY (issue_type_id);


--
-- Name: issues issues_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT issues_pkey PRIMARY KEY (issue_id, project_id);


--
-- Name: notifications pkey_notifications; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT pkey_notifications PRIMARY KEY (notification_id, user_id);


--
-- Name: sprints pkey_sprints; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sprints
    ADD CONSTRAINT pkey_sprints PRIMARY KEY (sprint_id, project_id);


--
-- Name: projects project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT project_pkey PRIMARY KEY (project_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (role_id);


--
-- Name: workflow_step steps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_step
    ADD CONSTRAINT steps_pkey PRIMARY KEY (step_id);


--
-- Name: issues unique_issue_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT unique_issue_id UNIQUE (issue_id);


--
-- Name: user_project user_project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_project
    ADD CONSTRAINT user_project_pkey PRIMARY KEY (user_id, project_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict IWYsPl63jganOHsdr23t7IjPD92LhK4qi74IKKKOgMJUGteHcgFp4JT97E8BkuM

